.site-footer {
padding: 48px 0;
background-color: $title-clr;
}
.footer {
    @include Display($items:center, $space:start, $gap:155px);
}
.footer__app-wrapper {
    flex-direction: column;
}
.footer__logo-link {
    display: inline-block;
}
.footer__logo-link{
    margin-bottom: 55px;
}
.footer__app-link{
    display: flex;
    gap: 13px;
}
.app__link{
    color: white;

    &:hover{
        color: #30C88F;
    }
}
.nav__link-wrapper{
    @include Display($items:center, $space:start, $gap:30px);
}
.footer__list {
    width: 160px;
    @include Display($items:unset, $space:start, $gap:8px);
    flex-direction: column;
}
.header__item{
    position: relative;
    overflow: hidden;
    
    &::before{
        content: "";
        width: 50%;
        height: 3px;
        position: absolute;
        background-color: #30C88F;
        left: -100%;
        bottom: 0;
        overflow: hidden;
        transition: all 0.3s linear;
    }
    &::after{
        content: "";
        width: 50%;
        height: 3px;
        position: absolute;
        background-color: #30C88F;
        right: -100%;
        bottom: 0;
        overflow: hidden;
        transition: all 0.3s linear;
    }
    &:hover::before{
        left: 0;
    }
    &:hover::after{
        right: 0;
    }
    &:active{
        background-color: transparent;
    }
    &:active::before, &:active::after{
        background-color: transparent;
        
    }
}
.nav__link {
    display: inline-block;
    @include textStyle($MB:0px, $FS:15px, $FW:unset, $CLR:$title-clr, $LH:26px, $CASE:inherit);
    color: $white-clr;

    &:hover{
        color: #30C88F;
    }
}
.footer__btn-wrapper {
    @include Display($items:center, $space:start, $gap:0px);
    flex-direction: column;
}
.footer__invite-btn {
    margin-bottom: 24px;
    display: inline-block;
    @include buttonStyle($BTN_W:163px, $BTN_PY:8px,$BTN_BR_Radius:35px, $BTN_Border_CLR:none,$BTN_FS:14px,$BTN_FW:400, $BTN_LH:28px, $BTN_CLR:$white-clr,$BTN_CASE:inherit);
    border: none;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    
    &:active{
        opacity: 60%;
    }
}
.footer__span {
    opacity: 50%;
    @include textStyle($MB:0px, $FS:15px, $FW:unset, $CLR: #FFFFFF, $LH:26px, $CASE:inherit);
}


@media (max-width:1002px){
    .footer {
        @include Display($items:center, $space:start, $gap:50px);
        flex-direction: column;        
    }
}

// mobile 
@media (max-width:446px){
    .site-footer{
        padding: 40px 0;
    }
    .footer{
        text-align: center;
        @include Display($items:center, $space:start, $gap:32px);
    }
    .footer__logo-link {
        margin-bottom: 32px;
    }
    .nav__link-wrapper{
        @include Display($items:center, $space:start, $gap:0px);
        flex-direction: column;
    }
}
// mobile 